{% extends "site-toolkit/global/_includes/body-block-open" %}
{% block content %}



{% set entries = craft.entries.section('announcements').all() %}



				
			    <div class="main-content {{ containerClass }}">
					
			        <div class="row ">
						
			        	{% for entry in entries %}
			        	<div class="col-12 col-lg-12" id="{{ entry.slug }}">
			        		<div class="module">
			        			<h2>{{ entry.title }}</h2>
					        	{{ entry.richText }}
			        		</div>
			        	</div>
			        	{% endfor %}

			        </div>
			    </div>





{% endblock %}
