{% set offset = index * 3 %}
<div class="row">
		<div class="col-12 col-lg-6">
		<div class="row">
			<div class="col-12">
				{% include '_includes/categoryItem' with{index:'3',class:'sm'} %}
			</div>
			<div class="col-12">
				{% include '_includes/categoryItem' with{index:'3',class:'sm'} %}
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6">
		{% include '_includes/categoryItem' with{index:'1'} %}
	</div>

</div>