<ul class="dropdown-menu login-dropdown">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<ul class="">
					<li class="">
						<a class="sign-in" href="{{ companyInformation.mobileBankingAppLink }}" class="textmobileBankingAppLinkink">Sign In
							<i class="fas fa-arrow-right fa-fw"></i>
						</a>
					</li>
				</ul>
				<p class="text-sm">
					<a href="{{ companyInformation.enrollLink }}">Don't have an account? Register Now.</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr class="dropdown-divider">
			</div>
			<div class="col-12">
				{% set nodes = craft.navigation.nodes().handle('loginModalNavigation').level(1).all() %}

				<ul class="">
					{% for node in nodes %}
						<li class="">
							{% include globalPath ~ 'navLink' with{node:node} %}

						</li>
					{% endfor %}
				</ul>
			</div>

		</div>
		{% if companyInformation.newsArticleS | length %}
			{% set article = companyInformation.newsArticleS[0] %}

			<div class="row mt-4">
				<div class="col-12">
					{% include '_includes/article' with{entry:article,articleClass:'article-sm'} %}

				</div>
			</div>
		{% endif %}
	</div>

</ul>
