{% set category = entry.collectionType.one %}
{% set icon = '' %}
{% if category | length  %}
{%  set icon = category.icon.one() %}

{% endif %}


<article class="article-resource">
	<a href="{{ entry.url }}">
		<div class="module bg-white">
		<div class="entry-meta">
			<div class="row">
				<div class="col-lg">
					<h4>{{ entry.title | replace('®','<sup>®</sup>') | raw}}</h4>
					<p>{{ entry.description }}</p>
				</div>
			</div>
			
		</div>
	</div>
	
</a>
</article>
