{% set option = child.displayOption %}
{% if child.all %}
	{% set entries = craft.entries.section('shows').active(1) %}
	{% else %}
	{% set entries = child.show %}
{% endif %}
{% set allEntries = [] %}
{% for entry in entries %}
	{% set relatedEpisodes = craft.entries.relatedTo(entry) %}
	{% if entry.thumbnail|length and relatedEpisodes|length > 0 %}
		{% set allEntries = allEntries|push(entry.id) %}
	{% endif %}
{% endfor %}
{% set allEntriesObj = craft.entries.id(allEntries).all() %}
{% switch option %}
{% case "grid" %}
{% set width = child.columnWidth %}
{% for entry in allEntriesObj %}
{% include '_includes/showCard' with{entry:entry} %}
{% endfor %}
{% case "banner" %}
<div class="horizontal-slide">
	<div class="row">
		{% for entry in allEntriesObj %}
			<div class="col-lg">
				{% include '_includes/showCard' with{entry:entry} %}
			</div>
		{% endfor %}
	</div>
</div>
{% endswitch %}
